/* Font */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* Colors */
:root {
    --color-background: #f0f0f0;
    --color-text: #333;
    --color-border: #ccc;
    --color--placeholder: #777;
    --color-primary: #007bff;
    --color-primary-hover: #0056b3;
    --color-link: #1a73e8;
    --color-divider: #ddd;
    --color-social-hover: #f0f0f0;
    --color-floating-label: #5f6368;
    --color-white: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM sans", sans-serif;
}

body{
    background-color: var(--color-background);
    color: var(--color-text);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
}

.form-container{
    position: relative;
    background-color: var(--color-white);
    padding: 50px 40px;
    width: 100%;
    max-width: 450px;
}

.blob-image{
    display: none;
}